#option-wrapper{
	width:20%;
	display: inline-block;
}

#option-list{
	/*border-radius: 16px;*/
    border: 1px solid #ccc!important;
}

.option-item{
	list-style-type: none;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

li+li.option-item{
    border-top: 1px solid #ccc!important;
}

.option-item:hover{
	background-color: #ccc;
}